<html>

 <head>
     <style>

#content {
	font-family: Verdana, Geneva, sans-serif;
	margin: 1%;
	padding: 10px;
	background-color: #ddd;
	position: relative;
}

#header {
	margin: 1%;
}
     </style>
 </head>

 <body>
	 <div id="header">
		 |
		 <a href="{{ url_for('index') }}">{{ _('Go to map') }}</a> 
		 | 
		 <a href="{{ url_for('about') }}">{{ _('About') }}</a> 
		 |
	 </div>
  
     <div id="content">
		 
		 <H1>{{ _('Instructions') }}</H1>
		 <p>{{ _('You can navigate the map to go to the location you want.') }}</p>
		 <p>{{ _('When the marker is located over a street you want to know more info click on the <b>Search wiki</b> button.') }}</p>
		 <p>{{ _('Alternatively, you can click on the <b>Get my position</b> button to get the location from your browser and, later, click on the <b>Search wiki</b> button.') }}</p>
		 <p>{{ _('The app will try to provide you with some information extracted from the wikipedia.') }}</p>
		 <H1><a href="https://github.com/kikocorreoso/map2wiki#motivation" target="blank">{{ _('Motivation') }}</a></H1>
		 <p>{{ _('The other day I was waiting for a friend and during that time I thought -I have no idea who is Juan Bravo-.') }}</p>
		 <p>{{ _('Why not open your browser and go directly to the Wikipedia? Because this way I do not learn about Nominatim, Wikipedia API, Flask, Openlayers, Brython, CSS hell,...') }}</p>
		 
     </div>

 </body>

</html>
