<html>

 <head>
     <style>

#content {
	font-family: Verdana, Geneva, sans-serif;
	margin: 1%;
	padding: 10px;
	background-color: #ddd;
	position: relative;
}

#header {
	margin: 1%;
}
     </style>
 </head>

 <body>
	 <div id="header">
		 |
		 <a href="/">Go to map</a> 
		 | 
		 <a href="/about">About</a> 
		 |
	 </div>
  
     <div id="content">
		 
		 <h1>Motivation.</h1>
		 <p>The other day I was waiting for someone in a street and in the meanwhile 
		    I thought -"I don't know too much about the person who is giving the name
		    to this street. It would be great to geolocalize my position, using, for instance, 
		    my smartphone and easily get information about the person from the wikipedia."</p>
		<h1>Code.</h1>
		<p>The app is coded using <a href="http://openlayers.org/" target="blank">Openlayers</a>, 
		<a href="http://brython.info/" target="blank">brython</a> and 
		<a href="http://flask.pocoo.org/" target="blank">flask</a>.</p>
		<p>The repo is located <a href="https://github.com/kikocorreoso/map2wiki" target="blank">here</a> 
		   in case you want to report an issue, request a new feature, fork it or say hello.</p>
		 
     </div>

 </body>

</html>
